profile.yaml
profile.yaml.default
OSR_uk_000_0021_8k.wav
*.pyc
*.mp3
*.wav
*.so
env/
python2/
environment/
/__pycache__
*virtual_key
env/lib/python3.9/site-packages/grpc/_cython/cygrpc.cpython-39-arm-linux-gnueabihf.so
*pyc
brain_2.py
profile.yaml.default
testing/
mpg123-1.32.5/
